.idea
# ===== общие =====
# ----- папки -----
подсказки

# ----- файлы -----
подсказки/.

# ===== отдельно сервисы =====

# ===== authclient =====
# ----- папки -----

# ----- файлы -----
_trash/
*.tgz
coverage.out
/bin/
GAPS.md
